*{
    margin: 0;
    padding: 0;
    }
    nav{
        background-color: darkgray;
        height: 50px;
        
    }
    ul{
        align-items: center;
    }
    ul li{
        text-align: center;
        list-style: none;
        display: inline-block;
        
    
    }
    ul li a{
        text-decoration: none;
        font-size: 40px;
        font-family: Helvetica;
        padding: 20px;
        color: black;
        text-align: center;
        
    }
    ul li a:hover {
        color:blue;
    }
h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: helvetica;
    font-size: 40px;
}
p1{
    font-size: 30px;
    padding-left: 40px;
}
label {
    font-size: 30px;
}
input{
    width:100px;
    height: 30px;
}
button{
    font-size: 20px;
    text-align:center;
}